<!DOCTYPE html>
<html>
<head>
  <title>TalkerCurriculum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="phone">
  <%= yield %>
</div>

<script>
  var $chat = $('.talk-wrapper');
  var height = $chat.prop('scrollHeight');
  $chat.scrollTop(height);
</script>

</body>
</html>
